# ANALYSIS AND SELECTION OF A PLACE IN WHERE WE WANT TO ESTABLISH A VETERINARIAN CLINIC

## Description of the problem

Veterinarians in Mexico are having several problems to maintain their clinics open. The reasons are: First, the Government rules are imposed without any notice, and the inspectors are closing clinics based on rules the owners of the clinics weren't aware of. Secondly, Mexican economy is going down pretty fast, and it is worst now that COVID19 is enduring in the country, therefore, the clients are not attending to the clinics anymore. That is forcing the owners to close their clinics. And lastly: Crime is gaining force in Mexican streets. The clinics owners, clients and workers are in danger all the time.

This proposal is the study we are offering to a group of veterinaries that want to establish a clinic in either New York City, USA or Toronto, Canada.

Talking to the veterinarians group we defined the bases of the analysis:
1. We focus only in two places of the interest of all the veterinarians in the group: New York City, New York, United States of America and Toronto, Ontario, Canada. We have to define the best place to locate the new clinic in one of the borroughs for one of the cities15 most Friendly Neighborhoods in Toronto 201.
2. We are looking for a Pet friendly area, because the pet owners are more interested in the health of the pets and they will attend to the clinics more often.
3. We will focus on dogs, because in New York City is known that 73% of the pets are dogs and 27% are cats, meanwhile in Toronto, the pets are 52% dogs and the cats are 48%.
4. The clinic must be set in an area in where there are not many clinics, to avoid the competitors. We need to be careful to identify areas in where industrial parks are not located there, because those are areas in where there are not to many persons living there.
5. We are looking for areas in where the amount of dogs is bigger.
6. We also are looking for areas in where the amount of breeds in risk to be sick is big, therefore, they will require more medical attendance

We performed a revision of information of both sites and we obtained enough information to support this study, that is reported in the next section.

## Data to be used in the project

**Identification of the Pet Friendly Neighborhoods**(4, 5, 6, 7). It will help us to delimit some boroughs and neighborhoods to locate the possible areas where the veterinarians could establish their clinic, based on greater preferences of the clients to live in places where their pets are quite accepted.

In [4]:
import pandas as pd
import numpy as np

### Toronto Pet Friendly Neighborhoods
Here there are the first 5 rows of the dataframe

In [13]:
path= "Toronto_Best.csv"
Toronto_Best=pd.read_csv(path)
Toronto_Best.head()

  PostalCode           Borough          Neighborhood
0        M4Y  Downtown Toronto  Church and Wellesley
1        M4K      East Toronto             Riverdale
2        M6P      West Toronto             High Park
3        M4E      East Toronto           The Beaches
4        M4Y     North Toronto        Mount Pleasant

### New York Pet Friendly Neighborhoods.
Here there are the first 5 rows of the dataframe.

In [12]:
path= "New_York_Best.csv"
New_York_Best=pd.read_csv(path)
New_York_Best.head()

   PostalCode    Borough        Neighborhood
0       10280  Manhattan   Battery Park City
1       10007  Manhattan             Tribeca
2       10004  Manhattan  Financial District
3       10044  Manhattan    Roosevelt Island
4       10012  Manhattan                Soho

**Databases containing the distribution for dog breeds per postal code.** (8, 9) It will help us to identify the amount of dogs and the main breeds in the areas. That will help us to define the veterinarians demand in the neighbourhoods and boroughs because of number of pets as well as number of in risk to get sick pets. As the cats are not mirochiped, we don't have enough information to consider aboutcats. 

As cats are not microchipped in New York, we do not have enough information to compare the cats as well. On the other hand, the Canadian Animal Health Institute (1) reported that there were 8.2 million dogs and 8.3 million cats in Canada and Zeveloff (2) andMuscavage(3) reports 600,000 dogs and 500,000 cats in New York City. Therefore, we are going to focus on the dogs official registry databases. We are reporting only the first 5 rows of the dataframe of each table: 
- Toronto database: Toronto_dogs
- New York City: NYC_dogs

In [11]:
path= "111116TO-dogs.csv"
Toronto_dogs=pd.read_csv(path)
Toronto_dogs.head()

  Postal Code Prefix                  Breed of Dog Animal Name
0                M1P                    TOY POODLE         123
1                M9A  SCHNAUZER STAND / POODLE MIN         210
2                M6M                 GERM SHEPHERD      Mar-00
3                M1C                 LABRADOR RETR       BLAZE
4                M1W                BEARDED COLLIE     BOUNCER

In [15]:
path= "NYC_Dog_Licensing_Dataset_Clean.csv"
NYC_dogs=pd.read_csv(path)
NYC_dogs.head()

,Index,Dog_name,Dog_gender,Animal_birth,Breed,PostalCode
0,1,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035
1,2,YOGI,M,2010,Boxer,10465
2,3,ALI,M,2014,Basenji,10013
3,4,QUEEN,F,2013,Akita Crossbreed,10013
4,5,LOLA,F,2009,Maltese,10028

**Most Unhealthy dog breeds** According to Moore(10) the breeds more prone to be sick are: Chihuahua, Shar Pei, Saint Bernard, Rottweiler, Pug, Standard Poodle, Doberman Pinscher, German Shepherd, Labrador Retriever, Golden Retriever, Newfoulndland, English Bulldogs, Basset Hound, Irish Setter, Beagle, Siberian Husky, Shih Tzu, Boxer, Dachshund, Cocker Spaniel, Yorkshire Terrier, Miniature Schnauzer, Pomeranian, German Shorthand Pointer, Great Dane, Shetland Sheepdog, Maltese, Boston Terrier, Cavalier King Spaniel

**API FOURSQUARE databases.**(11) To identify the veterinarian clinics in the area of Toronto and New York and remove those that contain a big amount of veterinarian clinics because they could be competitors.

# References

1. Canadian Animal Health Institute (2019). Latest  Canadian Pet Population Figures Released. Retrieved from https://www.cahi-icsa.ca/press-releases/latest-canadian-pet-population-figures-released at Aprin 22nd, 2020
2. Zeveloff, J. (2012), Here's Where to Find The 600,000 Dogs That Live in New York City. Business Insider. Retrieved form https://www.businessinsider.com/heres-where-to-find-the-600000-dogs-that-live-in-new-york-city-2012-2?=MX&1R=T at April 22nd, 2020
3. Muscavage, N. (2015). More NYers own dogs than cats. PressConnects. Retrieved from https://www.pressconnects.com/story/news/politics/2015/10/19/residents-dogs-cats/74213156 at April 22nd, 2020
4. Krneta, A. (2018). 15 Most Dog Friendly Neighborhoods in Toronto 2019. TorontoRentals Blog. Neighborhoods. Retrieved from https://www.torontorentals.com/blog/most-dog-friendly-neighborhoods-in-toronto at April 21st, 2020
5. NA. (2019). Best Dog-Friendly Neighbourhoods in Toronto. The BREL team. Retrieved from https://wwww.getwhatyouwant.ca/toronto-neighbourhoods-toronto at April 21st, 2020
6. Roberts, C. (2017). NYC's Most-Dog_Freindly_Neighborhoods. Trends & Data. Neighborhood. Retrieved from https://streeteasy.com/blog/nycs-most-dog-friendly-neighborhoods at April 21st, 2020
7. BrickUnderground. (2019). 8 of the best NYC neighborhoods for dogs. Retrieved from https://www.brickunderground.com/blog/2015/10/best_nyc_neighborhoods_for_dogs at April 21st, 2020 
8. Global News (2011). Toronto dogs license database. Retrieved from https:// globalnews.ca/news/178486/toronto-dogs-download-the-data/ at April 22nd, 2020
9. The City of New York. (2020). NYC Dog Licensing Dataset. NYC Open Data. Retrieved  from https://data.cityofnewyork.us/Health/NYC-Dog-Licensing_Dataset/nu7n-tupb at April 21sr, 2020
10. Moore, C. (NA). 25 Most Unhealthy Dog Breeds. Retrieved from https://housely.com/unhealthy-dog-breeds at April 23rd, 2020
11. FOURSQUARE. (2020). The Trusted location Data & Intelligence Company. Retrieved from https://foursquare.com